<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" *ngIf="selectedId > 1">
    <h2 class="headings">{{ data?.projectTitle }}</h2>
    <p>{{ data?.projectSummary }}</p>
    
    <h3 class="headings">Class</h3>
    <p> {{ data?.studentProgramme?.studentProgrammeName }} </p>
    
    <h3 class="headings">Project Area</h3>
    <ion-item *ngFor="let item of data?.projectAreas">
      <ion-label>
        <p>{{ item.projectAreaName }}</p>
      </ion-label>
    </ion-item>
    
    <h3 class="headings">Project Technology</h3>
    <ion-item *ngFor="let item of data?.projectTechnologies">
      <ion-label>
        <p>{{ item.projectTechnologyName }}</p>
      </ion-label>
    </ion-item>
    
    <h3 class="headings">Student Name(s)</h3>
    <ion-item *ngFor="let item of data?.projectStudents">
      <ion-label>
        <p>{{ item.studentName }}</p>
      </ion-label>
    </ion-item>
    
    <h3 class="headings">Email</h3>
    <ion-item *ngFor="let item of data?.projectStudents">
      <ion-label>
        <p>{{ item.studentEmail }}</p>
      </ion-label>
    </ion-item>
    
    <h3 class="headings">Supervisor</h3>
    <p>{{ data?.supervisorsName }}</p>

    <h3 class="headings">Project Number</h3>
    <p>{{ data?.projectId }}</p>

    <h3 class="headings">Location</h3>
    <p>{{ data?.projectLocation }}</p>
  </ion-content>

  <ion-content *ngIf="selectedId == -1" class="warning-container"><h3 class="no-project-warning">No project selected <br><br>
    Please go back to the project list page to select a project</h3></ion-content>

</ion-content>