.headings {
    color: #0081a5
}

.warning-container {
    margin: auto
}

.no-project-warning {
    color: #0081a5;
    margin: 55% 10%;
}

ion-icon {
    font-size: 30px; //Preferred size here
}

ion-toolbar.toolbar-content {
    display: flex;
}