ion-item.input-wrapper {
  margin: auto;
  display: grid;
}

.mapList {
  ion-button {
    --background: white;
    --color: #0081a5;
    --border-style: solid;
    --border-color: #0081a5;
    --border-width: 1px;
    width: 75%;
    margin: 5% 0%;
  }
}

.roomTitle {
  display: flex;
  justify-content: center;
  width: 200px;
}

.center {
  display: block;
  margin: auto;
}