.new-background-color{
    --ion-background-color: #54d61c;
}

.new-text{
    --ion-text-color: red;
}

ion-item.projectitem {
    --background: white;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 2% 4%;
    border-radius: 10px;

    h2 {
        color: #0081a5;
    }
}

ion-spinner {
    display: flex;
    margin: center;
}