<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Project List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Project List</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-item>
    <ion-input label="Text input" placeholder="Enter text" [(ngModel)]="searchString"
      (keyup.enter)="handleSearch()"></ion-input>
  </ion-item> -->
  <ion-accordion-group #accordionGroup>
    <ion-accordion value="filters">
      <ion-item slot="header" color="light">
        <ion-label>Filters</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item>
          <ion-select label="Filter by Area" placeholder="Area" (ionChange)="getProjectByArea($event.target.value)">
            <ion-select-option *ngFor="let projectArea of areasList" [value]=projectArea>{{ projectArea
              }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select label="Filter by Technology" placeholder="Technology"
            (ionChange)="getProjectByTechnology($event.target.value)">
            <ion-select-option *ngFor="let projectTech of technologiesList" [value]=projectTech>{{ projectTech
              }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select label="Filter by Programme" placeholder="Programme"
            (ionChange)="getProjectByProgramme($event.target.value)">
            <ion-select-option *ngFor="let studentProgramme of programmesList" [value]=studentProgramme>{{
              studentProgramme
              }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select label="Filter by Location" placeholder="Location"
            (ionChange)="getProjectByLocation($event.target.value)">
            <ion-select-option *ngFor="let projectLocation of locationsList" [value]=projectLocation>{{ projectLocation
              }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-list>
    <ion-item *ngFor="let item of data" class="projectitem" (click)="selectProject(item)">
      <ion-label>
        <h2>{{ item.projectTitle }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-spinner *ngIf="!dataLoaded"></ion-spinner> -->
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-pulse"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

</ion-content>