.coordinates-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .area {
    border: 3px solid #0081a5;
    position: absolute;
    cursor: pointer;
    transition: all 0.1s;
    &:hover{
      border: 2px solid lightgray;
      box-shadow: 0 0px 5px darkgray;
    }
    border-radius: 6px;
  }
}

#image-container {
  position: relative;
}